PORT=3005

# JWT
JWT_ACCESS_API_KEY="7O4iIV4MEeUd0WlRMs3DDv2OIf69aj"
JWT_ACCESS_API_EXP_IN=300

JWT_REFRESH_TOKEN_KEY="b73KxaXNvZytAilLweUrZrdQTLQFi9"
JWT_REFRESH_TOKEN_EXP_IN=86400

JWT_RECOVER_KEY="RpAO6TDvGxqTZ8c8ui08RmINRVqeEP"
JWT_RECOVER_EXP_IN=300

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=Srl1sKApUg57y9V1tf5Fm2bFqrKrfE
POSTGRES_DB=ecommerce-db
POSTGRES_PORT=5432
POSTGRES_SSL=false

# CORS
DOMAIN_WHITELIST=http://localhost:3000